@import 'variables';
@import 'header';
@import 'footer'; 
@import 'mediaqueries';
*{
    margin: 0px;
    padding: 0px;
}


body{
    &__grid{
        display: grid;
        background-color:$color-principal;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "header header header"    
            "h1 h1 h1"
            "main main main"
            "footer footer footer"
        ;
        gap: 16px;
    }
    
    
    h1{
        grid-area: h1;
        text-align: center;
        font-size: 45px;
        padding: 10px;
        font-family:$fuente-principal; /* MODIFICAR FUENTE */
        animation-duration: 4s;
        animation-name: titulos;
        animation-iteration-count: 1;
    }
    
    background-color:$color-principal;
    
}

/* Background Nav */
.bg-header {
    background-color:$color-backheader;
}

/* APLICADA A TODOS LOS h1 */
@keyframes titulos {
    0%{color: $color-principal;}
    100%{color: $color-h1}
    }

/* ACCESO */

.acceso__formulario{
    align-items: center;
    padding: 1rem;
    &__ubicacion{
        justify-content: left;
    } 
    &__seccion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        width: 100%;
    }
    &__logo {
        max-width: fit-content;
        align-self: center;
    }
    &__formulario{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 16px;
        padding-bottom: 1rem;
        margin: 2rem;
    }
    &__input{
        display: flex;
        align-self: center;
    }
}

/* CONTACTO */

.main__contacto{
    padding: 1rem;
    &__contacto{
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }
    &__contacto{
        align-items: center;
        margin: 1rem;
    }
    
}

/* COTIZADOR */

.cotizador__img{
    align-self: center;
    align-items: center;
    justify-content: center;
}
    

/* ART */

.main__art{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    &__art{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}